@charset "UTF-8";

body {
  text-align: center;
  background: #7e4e4e;
  color: #fff2d5;
}

div {
  background: #FFF;
  color: #000000;
  padding: 3rem;
  border-radius: 1rem;
  width: 300px;
  margin: 0 auto;
  font-weight: bold;
}